.page-header{
	background: url('../assets/pic2.png') no-repeat ;
	background-size: 1140px 160px; 
	padding-top:50px; 
	padding-bottom:40px; 
	padding-left:80px;
	color: white;
}

.item{
	padding-bottom:20px;
	background-color: white;
}

.item1{
	background-color: white;
}

body{
	background-color: #EBF6FA;
	padding-bottom: 70px;
}

.breadcrumb{
	background-color: #adcfde;
}

.list-group-item{
	background-color: white;
	border-color: black;
}

#demo{
	padding-bottom: 10px;
	padding-top: 20px;
	background-color: #adcfde;
}

.add{

}

b{
	padding-right: 10px;
}

form{
	background-color: #adcfde;
}

.search{
	background-color: #222;
}

.col{
	padding: 20px;
	width:50%; 
	background-color: red;
}

#para{
	padding-bottom: 20px;
	}

.pbody{
	background-color: #adcfde;
}

.lst-grp{
	text-align: center;
}

.lst-grp-bod{
	padding-top: 80px;
}

.bt{
	text-align: center;
}